In [1]:
import pandas as pd
import numpy as np
 
# Step 1: Load the dataset
df = pd.read_csv('output.csv')
print(df)

       Unnamed: 0        Date        High         Low        Open       Close  \
0               0  2020-01-04   64.465414   62.347035   63.773521   63.038921
1               1  2020-01-04   64.465414   62.347035   63.773521   63.038921
2               2  2020-01-04   64.465414   62.347035   63.773521   63.038921
3               3  2020-01-04   64.465414   62.347035   63.773521   63.038921
4               4  2020-01-04   64.465414   62.347035   63.773521   63.038921
...           ...         ...         ...         ...         ...         ...
45677       45677  2020-12-06  106.809998  103.080002  106.059998  105.720001
45678       45678  2020-12-06  106.809998  103.080002  106.059998  105.720001
45679       45679  2020-12-06  106.809998  103.080002  106.059998  105.720001
45680       45680  2020-12-06  106.809998  103.080002  106.059998  105.720001
45681       45681  2020-12-06  106.809998  103.080002  106.059998  105.720001

         Volume Symbol           Name of State / UT  Latitude  Longitude  \
0      11665288    MRK  Andaman and Nicobar Islands   11.7401    92.6586
1      11665288    MRK               Andhra Pradesh   15.9129    79.7400
2      11665288    MRK                        Assam   26.2006    92.9376
3      11665288    MRK                        Bihar   25.0961    85.3131
4      11665288    MRK                   Chandigarh   30.7333    76.7794
...         ...    ...                          ...       ...        ...
45677   1135000   BMRN                    Telangana   18.1124    79.0193
45678   1135000   BMRN                      Tripura   23.9408    91.9882
45679   1135000   BMRN                Uttar Pradesh   26.8467    80.9462
45680   1135000   BMRN                  Uttarakhand   30.0668    79.0193
45681   1135000   BMRN                  West Bengal   22.9868    87.8550

       Total Confirmed cases  Death  Cured/Discharged/Migrated  New cases  \
0                         10      0                          1          0
1                         83      0                          0         43
2                          1      0                          0          0
3                         23      1                          0          8
4                         16      0                          0          3
...                      ...    ...                        ...        ...
45677                   4320    165                       1993          0
45678                    913      1                        278         18
45679                  12088    345                       7292        478
45680                   1643     15                        842         81
45681                   9768    442                       3988        440

       New deaths  New recovered  total_tests  total_recovered  active_cases
0               0              1     893980.0          13664.0         336.0
1               0             -1    2303690.0          59491.0          58.0
2               0              0    2705422.0         863665.0       20538.0
3               0              0    1767199.0              NaN           NaN
4               0              0    2026898.0         303026.0         608.0
...           ...            ...          ...              ...           ...
45677           0              0    6019923.0         773421.0       24653.0
45678           0             39     249149.0          43200.0          25.0
45679           0            421    2633737.0         624673.0        6173.0
45680           0             11   30226868.0              NaN           NaN
45681           0            209   29827732.0        3624459.0        3008.0

[45682 rows x 20 columns]

In [2]:
df.head()

,Unnamed: 0,Date,High,Low,Open,Close,Volume,Symbol,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered,total_tests,total_recovered,active_cases
0,0,2020-01-04,64.465414,62.347035,63.773521,63.038921,11665288,MRK,Andaman and Nicobar Islands,11.7401,92.6586,10,0,1,0,0,1,893980.0,13664.0,336.0
1,1,2020-01-04,64.465414,62.347035,63.773521,63.038921,11665288,MRK,Andhra Pradesh,15.9129,79.7400,83,0,0,43,0,-1,2303690.0,59491.0,58.0
2,2,2020-01-04,64.465414,62.347035,63.773521,63.038921,11665288,MRK,Assam,26.2006,92.9376,1,0,0,0,0,0,2705422.0,863665.0,20538.0
3,3,2020-01-04,64.465414,62.347035,63.773521,63.038921,11665288,MRK,Bihar,25.0961,85.3131,23,1,0,8,0,0,1767199.0,NaN,NaN
4,4,2020-01-04,64.465414,62.347035,63.773521,63.038921,11665288,MRK,Chandigarh,30.7333,76.7794,16,0,0,3,0,0,2026898.0,303026.0,608.0